html {
  font: 400 14px / 20px "Oswald", "Helvetica Neue",Helvetica,Arial,sans-serif; }

a {
  color: #33b5e5; }
  a:hover {
    color: #0099cc; }

.uk-navbar-brand {
  text-transform: uppercase; }

.uk-article-meta > a {
  color: #444; }
  .uk-article-meta > a:hover {
    color: #444; }
.uk-article-meta > .uk-icon-comment {
  color: #444; }

.uk-icon-twitter {
  color: #00B0ED; }

.uk-icon-facebook, .uk-icon-facebook-square {
  color: #3B5999; }

.uk-icon-google-plus, .uk-icon-google-plus-square {
  color: #D34836; }

.uk-icon-github {
  color: #333; }

.uk-icon-envelope {
  color: #444; }

.uk-nav-side > li.uk-active > a {
  background: #28D1B2; }

.uk-pagination > .uk-active > span {
  background: #28D1B2; }

.uk-icon-medium {
  margin-right: 0.3em; }

.uk-navbar-toggle {
  color: white; }
  .uk-navbar-toggle:hover, .uk-navbar-toggle:focus {
    color: white; }

.uk-nav-offcanvas > li > a {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
  .uk-nav-offcanvas > li > a:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
.uk-nav-offcanvas .uk-nav-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.01);
  margin: 0;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }

.uk-nav-offcanvas .uk-nav-header {
  margin-top: 0;
  background: #404040;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }

.mg-header {
  padding: 1em 0;
  background-color: #39B39D; }

.mg-brand {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 2.5em;
  padding-left: 0;
  color: white;
  text-decoration: none; }
  .mg-brand:hover, .mg-brand:focus {
    color: white; }
  @media (max-width: 767px) {
    .mg-brand {
      padding: 0;
      max-width: 100%;
      font-size: 2em; } }

.mg-tagline {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  padding: 1em 0 0;
  color: white; }
  @media (min-width: 1220px) {
    .mg-tagline {
      padding-left: 0 !important; } }

.mg-main {
  margin-top: 4em;
  margin-bottom: 3em;
  min-height: 100%; }

.mg-feed {
  color: #FF6600; }
  .mg-feed:hover {
    text-decoration: none;
    color: #FF6600; }

.mg-list-title {
  font-size: 2em;
  line-height: 42px;
  font-weight: 400;
  text-transform: none;
  margin-top: 0.5em; }

.mg-footer {
  margin-bottom: 1em; }

.mg-author {
  margin-top: 1em; }

.mg-icon-link:hover {
  text-decoration: none; }

.mg-icons-small {
  margin-bottom: 1em; }

.mg-icons-small > li > a {
  color: white; }
  .mg-icons-small > li > a:hover {
    color: white; }
.mg-icons-small .uk-icon-rss {
  background-color: #FF6600; }
.mg-icons-small .uk-icon-twitter {
  background-color: #00B0ED; }
.mg-icons-small .uk-icon-facebook {
  background-color: #3B5999; }
.mg-icons-small .uk-icon-google-plus {
  background-color: #D34836; }
.mg-icons-small .uk-icon-github {
  background-color: #333; }
.mg-icons-small .uk-icon-envelope {
  background-color: #059; }

.mg-badges li {
  float: left;
  position: relative; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

